html { 
  background: url('/gfx/bgimage2.jpg') no-repeat center center fixed; 
  background-color: #7899b98a;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: screen;
}
body {
  /* font-family: 'Raleway', sans-serif; */
  background-color: transparent; /*so we can see bg img */
}
h1,h2,h3,.caption {
  /* font-family: 'Roboto', sans-serif; */
  color: white;
}
.zcal-app {
  height: 100vh;
  padding: 3em;
}
.row.zcal-header {
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0.5em;
}
.zcal-header h1 {
  background: #70899447;
  border-radius: 15px;
  padding: 10px 20px;
  mix-blend-mode: overlay;
}
.row.zcal-intro {
  padding-left: 0.5em;
  color: white;
  font-size: small;
  padding: 0 2em 0 1.5em;
}


/* forms */
.alert 
.row.zcal-add-panel {
  background: white;
  padding: 2em;
  border-radius: 4px;
  margin: 10px 0 10px -15px;
}
.zcal-add-form {
  width: 400px;
}
/* panels*/
.zcal-userpanel {
  height: 90vh;
}
.zcal-userpanel .alert {
  margin-left: -15px;
}


/* calendar */
.zcal-grid {
  display: grid;
  grid-template-columns: repeat(7, 14fr);
  grid-template-rows: repeat(6, 12vh);
}
.zcal-cell {
  border: 1px solid #4b9dbb;
  border-radius: 5px;
  font-weight: 450;
  color: #17a2b8;
  overflow: hidden;
}
.zcal-cell:hover {
  cursor: pointer;
  background-color: #61a9c3;
  color: #ffffff;
}
.zcal-cell.inactive {
  color: #76b3dc;
  border: 1px dotted;
}
.zcal-evt {
  /* border: 1px solid white; */
  border-radius: 5px;
  padding: 5px;
  background: #e1f3f3;
  margin: 3px;
  font-size: 0.75em;
  font-weight: normal;
  color: #17a2b8;
  overflow: hidden;
  white-space: nowrap;
}
.zcal-evt:hover {
  background-color: #add;
}

/*detail */
.zcal-detailviewpane {
  margin: 1em 0 1em -15px;
}
.col-3.zcal-userpanel .card.zcal-detail {
  margin: 1em 0 0.5em -15px;
}
.col-3.zcal-userpanel .card.zcal-detail .card-body .card-title {
  font-size: 1em;
}
.col-3.zcal-userpanel .card.zcal-detail .card-body .card-text {
  font-size: 0.8em;
}
.zcal-controls button.btn {
  margin: 0 0 0 10px;
}
.zcal-controls button.btn:not(:first-child) {
  align-self: flex-end;
}


/* datepicker */
.react-datepicker-wrapper, .react-datepicker__input-container {
  width: 100%;
}
/* .react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
} */